/**
 * CSS for Frontend+Backend of Swipe Reviews Block.
 */

 // arrow offset
$arrowdist:-10px;
$arrowheight:84%;

.review-container {
  width: 600px;
  height: 375px;
  .review-wrapper {
    .review-slide {
      .slider-review-text {
        text-align: center;
        font-size: $fontlg;
      }
      .slider-review-auth {
        text-align: center;
        font-size: $fontsm;
        font-style: italic;
      }
    }
  }
}

// swiper overrides
.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline:none;
}
.swiper-button-prev {
  left:$arrowdist;
  top:$arrowheight;
}
.swiper-button-next {
  right:$arrowdist;
  top:$arrowheight
}

// styles pertaining to the truncate script in /swiper/frontend.js
.excerpt {
  font-size:20px;
}
[data-excerpt][data-excerpt=hide] .content,
[data-excerpt][data-excerpt=hide] [data-content-hide],
[data-excerpt][data-excerpt=show] .excerpt,
[data-excerpt][data-excerpt=show] [data-content-show]{
  display: none
}

[data-excerpt][data-excerpt=show] .content,
[data-excerpt][data-excerpt=show] [data-content-hide] {
  display: block
}
